.contentContainer {
  max-width: 100%;

  max-height: 65rem;
  min-width: 29rem;
  @include min(desktop) {
    position: sticky;
    top: 93px;
  }

  h6 {
    margin-bottom: 4rem;
    font-family: 'Calibre', sans-serif;
  }

  .listContainer {
    @include flex-direction(column);
    margin-bottom: 7rem;

    .itemWrapper {
      line-height: 3rem;
      font-size: 1.8rem;
      display: flex;
      margin-bottom: 2rem;
      text-align: left;

      &:last-child {
        margin-bottom: 0;
      }

      .iconWrapper {
        @include flex-align(center, center);
        min-width: 2.4rem;
        margin-right: 1rem;
        padding: 0.8rem;
        height: 3rem;
      }

      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }

  .miniSlider {
    background-color: #e6f8fa;
    @include flex-direction(column);
    height: 13.5rem;
    padding: 2.5rem 3.4rem 2.9rem 3.4rem;
    margin-bottom: 10rem;

    p {
      margin-bottom: 1.5rem;
    }

    .sliderWrapper {
      display: flex;

      .sliderIconWrapper {
        width: 2.4rem;
        height: 2.4rem;
        padding: 0.7rem;
        margin-left: auto;
      }

      &:hover {
        h5,
        i {
          color: var(--primary-color);
        }
      }
    }
  }

  .socialsWrapper {
    padding: 0 34px;
    span {
      font-size: 1.8rem;
      line-height: 3rem;
      text-transform: uppercase;
      color: #999;
      margin-bottom: 2rem;
      display: inline-flex;
    }

    .buttonWrapper {
      display: flex;
      flex-direction: row;
    }

    button {
      margin-right: 1.6rem;
      height: 42px;
      width: 42px;
      transition: ease all 0.15s;
      @include flex-align(center, center);
      padding: 0;
      border-radius: 100%;
      background-color: #efefef !important;

      svg > :first-child,
      svg path {
        transition: ease all 0.15s;
      }

      &:hover {
        background-color: #999 !important;
      }

      &:hover {
        svg {
          > :first-child {
            fill: #999 !important;
          }
          path {
            fill: #fff;
          }
        }
      }
    }
  }

  @include max(tablet) {
    margin-bottom: 2rem;
    max-height: unset;

    h6 {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 700;
    }
  }
}
