.rndContainer {
  display: grid;
  row-gap: 2rem;

  @include max(mobile) {
    row-gap: 5rem;
  }

  @include min(tablet) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    row-gap: 2rem;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    width: calc(100% - 10rem);
    margin: 0 auto;
    column-gap: 5rem;
  }

  @include min(desktop) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4.5rem;
    row-gap: 0;
  }
}
