.contentContainer {
  width: 100%;
  @include min(desktop) {
    min-width: 62rem;
    margin-left: 13rem;
    // padding-right: 8.1rem;
  }

  blockquote {
    font-size: 3rem;
    font-family: 'Charter BT W01 Roman';
    font-style: italic;
    line-height: 4rem;
    color: #262626;
    border-left: 3px solid #00b9cb;
    padding-left: 5rem;
    margin: 2.4rem;
    display: block;
    margin-left: 0;
  }
  @include min(desktop) {
    h2,
    h3,
    p,
    ul,
    blockquote,
    ol {
      margin-right: 8.1rem;
    }

    h2 {
      font-size: 5rem;
      font-weight: 600;
    }

    h3 {
      font-size: 3.2rem;
      line-height: 4rem;
      letter-spacing: -0.05rem;
    }
  }

  .specialParagraph {
    padding-left: 5rem;
    border-left: 3px solid #00b9cb;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 0;
    line-height: 40px;
  }

  h2,
  h3 {
    font-family: 'Calibre', sans-serif;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  p:has(img) {
    margin-right: 0;
  }

  img {
    margin: 6rem auto;
    display: block;
    max-width: 100%;
  }

  h4 {
    margin-bottom: 2rem;
  }
  ol {
    counter-reset: my-awesome-counter;
    padding-left: 3.2rem;
    margin-top: 3.2rem;
    list-style: none;
    margin-bottom: 1rem;
    li {
      counter-increment: my-awesome-counter;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 6px;
      color: #262626;

      &::before {
        content: counter(my-awesome-counter) '. ';
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #262626;
      }
    }
  }

  ul {
    list-style: none;
    // margin-left: 5rem;

    li {
      padding-left: 2rem;
      margin-bottom: 2rem;
      font-size: 2.1rem;
      letter-spacing: 0;
      line-height: 3.2rem;
      font-family: Charter;
      @include flex-align(center, flex-start);

      p {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        display: inline-flex;
        margin: 15px 20px 15px 2px;
        width: 2px;
        height: 2px;
        border-radius: 2px;
        background-color: #000;
      }
    }
  }

  p {
    font-family: 'Charter BT W01 Roman';
    font-size: 2.1rem;
    margin-bottom: 1.8rem;
    letter-spacing: 0;
    line-height: 3.2rem;

    a {
      color: #262626;
      text-decoration: underline;
      text-decoration-color: #06b8b7;
      text-decoration-thickness: 1px;
      text-underline-offset: 2px;
      @include transition(ease all 0.15s);

      &:hover {
        color: #06b8b7;
      }
    }
  }
}
