.contentContainer {
  width: 100%;
  @include min(desktop) {
    min-width: 62rem;
    margin-left: 13rem;
    // padding-right: 8.1rem;
  }

  blockquote {
    font-size: 3rem;
    font-family: 'Charter BT W01 Roman';
    font-style: italic;
    line-height: 4rem;
    color: #262626;
    border-left: 3px solid #00b9cb;
    padding-left: 5rem;
    margin: 2.4rem;
    display: block;
    margin-left: 0;
  }

  h2,
  h3,
  p,
  ul,
  blockquote,
  ol {
    margin-right: 8.1rem;
  }

  .specialParagraph {
    padding-left: 5rem;
    border-left: 3px solid #00b9cb;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 0;
    line-height: 40px;
  }

  h2,
  h3 {
    font-family: 'Calibre', sans-serif;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 5rem;
    font-weight: 600;
  }

  p:has(img) {
    margin-right: 0;
  }

  img {
    margin: 6rem auto;
    // width: 62rem;
    max-width: 100%;
  }

  h3 {
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.05rem;
  }

  h4 {
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    // margin-left: 5rem;

    li {
      padding-left: 2rem;
      margin-bottom: 2rem;
      font-size: 2.1rem;
      letter-spacing: 0;
      line-height: 3.2rem;
      font-family: Charter;
      @include flex-align(center, flex-start);
      &::before {
        content: '';
        display: inline-flex;
        margin-right: 2rem;
        width: 2px;
        height: 2px;
        border-radius: 2px;
        background-color: #000;
      }
    }
  }

  p {
    font-family: 'Charter BT W01 Roman';
    font-size: 2.1rem;
    margin-bottom: 1.8rem;
    letter-spacing: 0;
    line-height: 3.2rem;

    a {
      color: #262626;
      text-decoration: underline;
      text-decoration-color: #06b8b7;
      text-decoration-thickness: 1px;
      text-underline-offset: 2px;
      @include transition(ease all 0.15s);

      &:hover {
        color: #06b8b7;
      }
    }
  }
}
