.learnMoreContainer {
  margin-top: -1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include max(tablet) {
    padding: 1rem;

    > div {
      margin-bottom: 1rem;
    }
  }

  @include max(tablet) {
    max-width: 90%;
    margin: 0 auto;
    > div {
      margin-bottom: 3rem;
    }
  }
}

.privacyContainer {
  @include flex-direction(column-reverse);

  @include min(tablet) {
    flex-direction: row;
  }

  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    width: calc(100% - 10rem);
    margin: 0 auto;
  }

  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;

    @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
      margin-right: 2rem;
    }

    > div {
      > div:first-child {
        margin-right: 2rem;
      }
    }

    h5 {
      margin-top: 0.5rem;
    }
  }

  .imageContainer {
    padding: 3rem;
    margin-bottom: 2rem;

    @include min(desktop) {
      padding: 0;
      margin: 0;
      width: 50%;
      @include flex-align(flex-start, flex-end);
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.mobileImage {
  width: 100%;

  > div {
    max-width: 100% !important;
  }

  @include min(tablet) {
    display: none !important;
  }
}

.desktopImage {
  @include max(tablet) {
    display: none;
  }
}
