.container {
  p {
    color: var(--color-22);
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0;

    &:first-child {
      margin-bottom: 1rem;
    }
  }

  h1{
    color: #262626;
  }

  @include max(tablet) {
    p:first-child{
      margin-top: 2rem;
    }
  }
  @include max(mobile) {
    h1 {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.5px;
    }
  }

  @include min(desktop) {
    h1 {
      letter-spacing: -1px;
      font-size: 5rem;
      width: 62rem;
      margin-bottom: 1rem;
      padding-right: 5rem;
    }
  }
}
