.container {
  .featuresContainer {
    @include min(tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16rem;
      row-gap: 5rem;

      &.pricing {
        column-gap: 4.5rem;
      }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      border: 1px solid blue;
      column-gap: 7rem;
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      column-gap: 10rem;
      border: 1px solid blue;
    }

    @include min(desktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3rem;
      row-gap: 7rem;
    }

    &.pricing {
      column-gap: 4.5rem;
    }
  }
}
