.workListContainer {
  width: 90%;
  margin: 0 auto;

  > div {
    margin-bottom: 3rem;
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid blue;
    }
  }

  @include max(mobile) {
    text-align: center;
    margin-top: 2rem;

    .featureCardWithBanner {
      margin-bottom: 5rem;

      > div:first-child {
        margin-bottom: 2rem;
      }
    }
  }

  @include min(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.3rem;
    width: 100%;

    > div > div:last-child {
      margin-left: 2rem;
      width: 26.3rem;

      @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        margin-left: -12rem;
        border: 1px solid blue;
      }
    }
  }

  @include min(desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.3rem;
    // margin-left: 2rem;
    width: 100%;

    > div {
      margin-bottom: 0;
    }
  }
}
