.container {
  @include flex-direction(column-reverse);

  @include min(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      width: calc(100% - 4rem);
      margin: 0 auto;
      flex-wrap: nowrap;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    justify-content: center;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
    justify-content: center;
  }

  &.swap {
    @include min(tablet) {
      flex-direction: row-reverse;
    }

    .secondBlock {
      justify-content: flex-start;
    }
  }

  .textWrapper {
    @include flex-direction(column);
    justify-content: center;

    @include max(tablet) {
      margin: 0 !important;
    }

    @include min(tablet) {
      width: 56rem;
    }

    .tabletBlock {
      display: none;
      @include flex-align(center, center);
      margin-bottom: 7rem;
      margin-top: 3rem;
    }

    // @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      width: calc(100% - 10rem);
      margin: 0 auto;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
      width: calc(100% - 10rem);
      margin: 0 auto;
    }

    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      padding: 0 2rem;
    }

    p {
      font-size: var(--body-style-two-mobile-size);
      line-height: var(--body-style-two-mobile-line-height);

      @include min(tablet) {
        margin-top: 0.4rem;
        font-size: var(--body-style-two);
        line-height: var(--body-style-two-line-height-size);
        letter-spacing: -0.5px;
      }
    }

    .descr2 {
      margin-bottom: 4rem;
    }

    > div:last-child {
      > div {
        > div:first-child {
          min-width: unset;
        }
      }
    }
  }

  .secondBlock {
    @include flex-align(center, flex-end);

    .imageWrapper {
      @include flex-align(center, center);
      margin-bottom: 4rem;

      @include min(tablet) {
        margin-bottom: 0;
        height: 60rem;
        max-width: 50rem;
      }

      > svg {
        @include max(mobile) {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  @include max(tablet-lg) {
    .textWrapper {
      .tabletBlock {
        display: flex;
      }
    }

    .secondBlock {
      display: none;
    }
  }
}
